<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.androidlearning">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidLearning"
        tools:targetApi="31">
        <activity
            android:name=".view.activity.ReceiverActivity"
            android:exported="true"
            android:label="@string/title_activity_receiver">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.ServiceActivity"
            android:exported="true"
            android:label="@string/title_activity_service">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER_No" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.MockWechatActivity"
            android:exported="true"
            android:label="@string/title_activity_mock_wechat">

            <!-- 激活默认的Activity的意图 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER_No" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.ViewPager2Activity"
            android:exported="true"
            android:label="@string/title_activity_view_pager2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER_No" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.FragmentTransactionActivity"
            android:exported="true"
            android:label="FragmentTransactionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER_No" />
            </intent-filter>
        </activity>
        <!--
            这里自定义的MyMainActivity 目录为.view.activity.MyMainActivity
            android:theme="@style/Theme.AndroidLearning.NoActionBar" 为无导航设置
        -->
        <activity
            android:name=".view.activity.FragmentActivity"
            android:exported="true"
            android:label="FragmentActivity"
            android:theme="@style/Theme.AndroidLearning.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- 创建自定义的MyMainActivity时，勾选了Launch Activity，这里就会是LAUNCHER -->
                <category android:name="android.intent.category.LAUNCHER_No" />
            </intent-filter>
        </activity>
        <!--
    任意创建的一个java类，再添加拓展自系统activity后 extends AppCompatActivity，才能成为activity组件
                并且组件必须在清单文件里注册才能使用
        -->
        <activity
            android:name=".view.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- 自定义的MyMainActivity为Launch，则原先的MainActivity不能再是LAUNCHER，否则桌面会出现两个app（MyMainActivity和AndroidLearning） -->
                <category android:name="android.intent.category.LAUNCHER_No" />
            </intent-filter>
        </activity>

        <!-- 服务也是组件 必须在清单文件里注册 -->
        <service android:name=".service.MyService" />

        <!-- 第一步： 静态注册广播接收者 （在清单文件里注册 并且需要标记action） -->
        <receiver android:name=".receiver.CustomReceiver" android:exported="true">
            <!-- 过滤 -->
            <intent-filter>
                <!-- 标记name 可以随便定义（这就是发送广播的标记） -->
                <action android:name="com.learning.receiver_flag_" />
            </intent-filter>
        </receiver>
    </application>

</manifest>