<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.androidlearning">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidLearning"
        tools:targetApi="31">
        <!--   这里自定义的MyMainActivity 目录为.view.activity.MyMainActivity     -->
        <activity
            android:name=".view.activity.MyMainActivity"
            android:exported="true"
            android:label="@string/title_activity_my_main"
            android:theme="@style/Theme.AndroidLearning.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!--  创建自定义的MyMainActivity时，勾选了Launch Activity，这里就会是LAUNCHER -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!--  自定义的MyMainActivity为Launch，则原先的MainActivity不能再是LAUNCHER，否则桌面会出现两个app（MyMainActivity和AndroidLearning）  -->
                <category android:name="android.intent.category.LAUNCHER_No" />
            </intent-filter>
        </activity>
    </application>

</manifest>