<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.androidlearning">
    <!-- 配置 地图SDK（包含其搜索功能）需要的基础权限 -->
    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 允许程序设置内置sd卡的访问权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 允许程序访问精确的位置 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidLearning"
        tools:targetApi="31">
        <activity
            android:name=".view.activity.RxActivity"
            android:exported="true"
            android:label="@string/title_activity_rx"
            android:theme="@style/Theme.AndroidLearning.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.RetrofitActivity"
            android:exported="true"
            android:label="@string/title_activity_retrofit"
            android:theme="@style/Theme.AndroidLearning.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER_No" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.OKhttpActivity"
            android:exported="true"
            android:label="@string/title_activity_okhttp"
            android:theme="@style/Theme.AndroidLearning.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER_No" />
            </intent-filter>
        </activity> <!-- 地图 -->
        <activity
            android:name=".view.activity.MapActivity"
            android:exported="true"
            android:label="@string/title_activity_map">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER_No" />
            </intent-filter>
        </activity> <!-- 广播接收者 -->
        <activity
            android:name=".view.activity.ReceiverActivity"
            android:exported="true"
            android:label="@string/title_activity_receiver">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER_No" />
            </intent-filter>
        </activity> <!-- 服务组件 -->
        <activity
            android:name=".view.activity.ServiceActivity"
            android:exported="true"
            android:label="@string/title_activity_service">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER_No" />
            </intent-filter>
        </activity> <!-- 仿微信主界面 -->
        <activity
            android:name=".view.activity.MockWechatActivity"
            android:exported="true"
            android:label="@string/title_activity_mock_wechat">

            <!-- 激活默认的Activity的意图 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER_No" />
            </intent-filter>
        </activity> <!-- 滚动视图ViewPager2界面 -->
        <activity
            android:name=".view.activity.ViewPager2Activity"
            android:exported="true"
            android:label="@string/title_activity_view_pager2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER_No" />
            </intent-filter>
        </activity> <!-- Fragment的动态替换与管理 -->
        <activity
            android:name=".view.activity.FragmentTransactionActivity"
            android:exported="true"
            android:label="FragmentTransactionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER_No" />
            </intent-filter>
        </activity>
        <!--
            这里自定义的MyMainActivity 目录为.view.activity.MyMainActivity
            android:theme="@style/Theme.AndroidLearning.NoActionBar" 为无导航设置
        -->
        <!-- Fragment片段 -->
        <activity
            android:name=".view.activity.FragmentActivity"
            android:exported="true"
            android:label="FragmentActivity"
            android:theme="@style/Theme.AndroidLearning.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- 创建自定义的MyMainActivity时，勾选了Launch Activity，这里就会是LAUNCHER -->
                <category android:name="android.intent.category.LAUNCHER_No" />
            </intent-filter>
        </activity>
        <!--
    任意创建的一个java类，再添加拓展自系统activity后 extends AppCompatActivity，才能成为activity组件
                并且组件必须在清单文件里注册才能使用
        -->
        <!-- 主视图：包含ListView界面、RecycleView界面、逐帧动画界面、补间动画界面、属性动画、Java类文件布局界面、滚动界面viewpage -->
        <activity
            android:name=".view.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- 自定义的MyMainActivity为Launch，则原先的MainActivity不能再是LAUNCHER，否则桌面会出现两个app（MyMainActivity和AndroidLearning） -->
                <category android:name="android.intent.category.LAUNCHER_No" />
            </intent-filter>
        </activity> <!-- 服务也是组件 必须在清单文件里注册 -->
        <service android:name=".service.MyService" /> <!-- 第一步： 静态注册广播接收者 （在清单文件里注册 并且需要标记action） -->
        <receiver
            android:name=".receiver.StaticReceiver"
            android:exported="true">

            <!-- 过滤 -->
            <intent-filter>

                <!-- 标记name 可以随便定义（这就是发送广播的标记） -->
                <action android:name="com.learning.receiver_static_" />
            </intent-filter>
        </receiver> <!-- 设置高德Key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="55daf6feb2aef302008fe56f23413ca1" />
    </application>

</manifest>